.modal {
    &.full-page-overlay {
        padding-right: 0px !important;

        .modal-dialog {
            margin: 0px !important;
            width: auto !important;

            .modal-content {
                box-shadow: none !important;
                // make full height
                min-height: 100vh;
                // help users understand that we are inside modal by adding thick border
                border: 5px solid;
            }
        }

        h4.modal-title {
            font-size: 2.2rem;
            font-weight: 400;
        }

        .close i {
            color: $gray-light;
            font-size: 32px;

            &:hover {
                color: $gray-darker;
            }
        }

        /* Variations */
        &.padded {
            .modal-content {
                padding: 3% 5%;
            }
        }
    }

    &.no-shadow {
        .modal-content {
            box-shadow: none !important;
        }
    }

    &.padded {
        .modal-content {
            padding: 3% 5%;
        }
    }
}

.modal-backdrop-color-white .modal-backdrop.in {
    background-color: $white !important;
    filter: alpha(opacity=100);
    opacity: 1;
}

.modal-header {
    .close {
        i, span {
            font-size: 36px;
        }
    }
}
