.three-renderer {
    height: 100vh;
}

.three-renderer {
    canvas:first-child {
        position: absolute;
        right: 10px;
    }

    .three-renderer-selection {
        position: absolute;
        background: rgba(255, 255, 255, 0.4);
        visibility: hidden;
    }
}
