// material-ui v1.00-beta.37 dark theme
$material-ui-expansion-panels-color: #424242;
$material-ui-menu-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
$material-ui-button-box-shadow-override: 0px 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 0px 1px 1px rgba(255, 255, 255, 0.14), 0px 0px 1px 1px rgba(255, 255, 255, 0.12);


.hidden {
    display: none !important;
}

// Mixins
@mixin inverse {
    color: $exagray_darker;
    border-color: $exagray_darker;
    background-color: $wave-background;
    p, h1, h2, h3, h4, h5, h6 {
        color: $exagray-darker;
    }
}


@mixin darkScrollbar($width) {
    &::-webkit-scrollbar {
        width: #{$width}px;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 #{$width/2}px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 #{$width}px $gray-light;
    }
}

.materials-designer-3d-editor {

    padding: 0;

    .buttons-toolbar {
        position: absolute;
        right: 10px;
        margin: 16px 20px;

        &.pull-left {
            left: 0;
        }

        &.buttons-toolbar-bottom {
            bottom: 0;

            &.second-row {
                bottom: 60px;
            }

            &.third-row {
                bottom: 2 * 60px;
            }

            &.fourth-row {
                bottom: 3 * 60px;
            }

            &.fifth-row {
                bottom: 4 * 60px;
            }
        }

        &.buttons-toolbar-top {
            top: 0;

            &.second-row {
                top: 60px;
            }

            &.third-row {
                top: 2 * 60px;
            }

            &.fourth-row {
                top: 3 * 60px;
            }

            &.fifth-row {
                top: 4 * 60px;
            }
        }

        @media (min-width: $screen-md) {
            margin: 10px 20px;
        }

        .sphere-radius, .cell-repetitions {
            border: none;
            width: 45px;
            height: 35px;
            padding-left: 10px;
            margin: 5px;
            border-radius: 5px;
            background-color: $material-ui-expansion-panels-color;
        }
    }

    .atoms-toolbar {
        padding: 0;

        button {
            background-color: $exagray_semi-transparent;
        }

        &:hover.non-interactive .atom-view-cover {
            background: rgba($gray-darkest, 0.35);
        }
    }

}

.materials-designer-3d-editor {
    button {
        color: inherit;
        background-color: $material-ui-expansion-panels-color;

        &:hover {
            color: white;
        }
    }

    .buttons-toolbar {
        display: table; // to make width fit content
        margin: 10px;

        button {
            box-shadow: $material-ui-button-box-shadow-override !important;
            margin: 5px;

            &[aria-toggled="true"] {
                color: $amber;
            }
        }
    }

    &:hover.non-interactive .atom-view-cover {
        background: rgba($gray-darkest, 0.35);
    }

}

.three-renderer {
    min-height: 100vh;
}

.three-renderer {
    canvas:first-child {
        position: absolute;
        right: 10px;
    }

    .three-renderer-selection {
        position: absolute;
        background: rgba(255, 255, 255, 0.4);
        visibility: hidden;
    }
}
